95 DIALOG 14, 68, 363, 161
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Файл задания"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", 1, 52, 140, 50, 14, BS_DEFPUSHBUTTON | WS_TABSTOP
 PUSHBUTTON "Отмена", 2, 156, 140, 50, 14, WS_TABSTOP
 LTEXT "Дата опроса  (ДД.ММ.ГГ)", -1, 8, 12, 98, 8
 EDITTEXT 101, 104, 11, 68, 12, WS_TABSTOP | WS_BORDER
 LTEXT "Группа", -1, 8, 31, 28, 8
 COMBOBOX 111, 104, 28, 69, 133, CBS_DROPDOWNLIST | CBS_SORT | CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
 LTEXT "Тема", -1, 8, 52, 30, 8
 COMBOBOX 112, 72, 48, 100, 133, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_TABSTOP | CBS_DISABLENOSCROLL | WS_VSCROLL
 LTEXT "Преподаватель", -1, 8, 73, 60, 8
 COMBOBOX 113, 72, 68, 100, 116, CBS_DROPDOWNLIST | CBS_SORT | WS_TABSTOP | CBS_DISABLENOSCROLL | WS_VSCROLL
 LTEXT "Количество вопросов", -1, 8, 92, 76, 8
 EDITTEXT 102, 124, 88, 48, 12, WS_TABSTOP | WS_BORDER
 LTEXT "Врем\xFF на один вопрос(в секундах)", -1, 8, 112, 124, 8
 EDITTEXT 103, 148, 108, 24, 12, WS_TABSTOP | WS_BORDER
 GROUPBOX "", 121, 4, 4, 176, 128, BS_GROUPBOX
 GROUPBOX "Процент правильных ответов дл\xFF выставлени\xFF...", 122, 184, 4, 176, 72, BS_GROUPBOX
 LTEXT "Оценки п\xFFть (5)", -1, 192, 24, 60, 8
 LTEXT "Оценки четыре (4)", -1, 192, 40, 64, 8
 LTEXT "Оценки три (3)", -1, 192, 56, 60, 8
 EDITTEXT 104, 284, 20, 24, 12, WS_TABSTOP | WS_BORDER
 EDITTEXT 105, 284, 36, 24, 12, WS_TABSTOP | WS_BORDER
 EDITTEXT 106, 284, 52, 24, 12, WS_TABSTOP | WS_BORDER
 GROUPBOX "Файл отч\xB8та", 108, 184, 84, 176, 48, BS_GROUPBOX
 LTEXT "Наличие файла отч\xB8та:", -1, 192, 100, 84, 8
 LTEXT "Имеетс\xFF", 138, 288, 100, 60, 8
 AUTORADIOBUTTON "Уничтожить файл отч\xB8та", 107, 192, 112, 152, 12
 PUSHBUTTON "Ещё>>", 109, 260, 140, 50, 14
}


96 DIALOG 79, 36, 168, 119
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Дополнительная настройка"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 24, 96, 50, 14
 PUSHBUTTON "Отмена", IDCANCEL, 92, 96, 50, 14
 GROUPBOX "", 101, 4, 8, 160, 80, BS_GROUPBOX
 AUTOCHECKBOX "разрешение режима листани\xFF", 102, 12, 20, 124, 12
 AUTOCHECKBOX "показывать оценку", 103, 12, 36, 112, 12
 AUTOCHECKBOX "белый фон", 104, 12, 52, 60, 12
 AUTOCHECKBOX "записывать результат в файл отчёта", 105, 12, 68, 140, 12
}

