87 DIALOG 36, 58, 234, 145
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Список макро-определений"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "Сохранить", IDOK, 168, 100, 50, 14
 PUSHBUTTON "Отмена", IDCANCEL, 168, 120, 50, 14
 LISTBOX 101, 12, 28, 149, 112, LBS_NOTIFY | WS_VSCROLL | WS_BORDER
 LTEXT "Выберите макро-определение", -1, 28, 12, 104, 8
 GROUPBOX "", 102, 3, 3, 227, 139, BS_GROUPBOX
 ICON 154, -1, 184, 32, 18, 20
 PUSHBUTTON "Изменить", 103, 168, 80, 50, 14
}

