340 DIALOG 129, 80, 207, 175
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Печать темы"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 148, 16, 50, 14
 PUSHBUTTON "Отмена", IDCANCEL, 148, 36, 50, 14
 GROUPBOX "", 101, 4, 4, 200, 164, BS_GROUPBOX
 AUTOCHECKBOX "Только вопросы", 106, 12, 16, 84, 12
 EDITTEXT 111, 12, 144, 72, 12, WS_BORDER | WS_TABSTOP
 LTEXT "Им\xFF файла с вопросами", -1, 13, 128, 96, 12
 AUTORADIOBUTTON "RTF - файл", 120, 120, 64, 60, 12
 AUTORADIOBUTTON "TXT - файл", 121, 120, 80, 60, 12,
 AUTORADIOBUTTON "В файл", 122, 20, 57, 60, 12, BS_AUTORADIOBUTTON | WS_GROUP
 AUTORADIOBUTTON "На принтер", 123, 20, 76, 60, 12
}

