
STRINGTABLE 
{
 1, "Создать новую тему"
 2, "Продолжить ввод темы"
 3, "Редактировать тему"
 4, "Выбор параметров шрифта"
 5, "Листать назад"
 6, "Листать вперёд"
 7, "Макро"
 8, "Вставить формулу"
 9, "Вставить рисунок"
 10, "Обновить содержимое редактора"
}

